@import "../theme";

.header {
  .navbar {
    font-family: $custom-body-font;
    box-shadow: $box-shadow;
    height: 5rem;
    background-color: white;

    .nav-item {
      align-items: center;
    }

    h1 {
      font-size: larger;
    }

    a {
      color: black;
    }

    .open-market-btn {
      border-radius: 1rem;
      margin: 0rem 1rem;
    }
  }
}
